/* Reset nhẹ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Nền */
body {
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.login-container {
    width: 100%;
    max-width: 400px;
}

/* Box login */
.login-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Title */
.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Input group */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #4facfe;
    outline: none;
}

/* Button */
.btn-login {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: #007bff;
}

/* Error */
.error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}